.card-container {
  width: 100%;
  height: auto;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
}

.card-container.open {
  bottom: 0;
  left: 0;
  right: 0;
  height: 85%;
  position: fixed;
  z-index: 1;
  overflow: hidden;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  box-shadow: -1px -4px 31px 0px rgba(0, 0, 0, 1);
  -webkit-box-shadow: -1px -4px 31px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: -1px -4px 31px 0px rgba(0, 0, 0, 1);
}
.card-content {
  position: relative;
  width: 100%;
  height: 100%;
}
.card-content.open {
  z-index: 20;
}

.card-img {
  width: 100%;
}

.card-text {
  background-color: rgb(226, 226, 226);
  height: 100%;
  padding: 20px;
}

.portfolio-img {
  width: 100%;
  height: 180px;
  background-color: rgb(39, 39, 39);
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-img span {
  color: green;
}

.portfolio-img p {
  color: rgb(224, 224, 224);
  font-family: "Ubuntu Mono";
}

.portfolio-img.open {
  height: 230px;
}

.card-text-title {
  font-weight: bold;
  font-size: 14px;
}
.card-text-title.open {
  margin-bottom: 15px;
  font-size: 20px;
}

.card-text-description {
  font-size: 14px;
  white-space: pre-line;
}

/* slider */

.slider-container img {
  background-color: white;
  border: #000 1px;
  border-radius: 30px;
  width: 45px;
  height: 45px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
}

.slider-container .drag-area {
  position: relative;
  width: 300px;
  height: 45px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
