.card-container {
  width: 100%;
  height: auto;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
}

.card-container.open {
  bottom: 0;
  left: 0;
  right: 0;
  height: 85%;
  position: fixed;
  z-index: 1;
  overflow: hidden;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  box-shadow: -1px -4px 31px 0px rgba(0, 0, 0, 1);
  -webkit-box-shadow: -1px -4px 31px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: -1px -4px 31px 0px rgba(0, 0, 0, 1);
}
.card-content {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
}
.card-content.open {
  z-index: 20;
}

.card-img {
  width: 100%;
}

.card-text {
  background-color: rgb(226, 226, 226);
  height: 100%;
  width: 100%;
  padding: 20px;
}

.portfolio-img {
  width: 100%;
  height: 180px;
  background-color: rgb(39, 39, 39);
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-img span {
  color: green;
}

.portfolio-img p {
  color: rgb(224, 224, 224);
  font-family: "Ubuntu Mono";
  text-align: center;
}

.portfolio-img.open {
  height: 230px;
}

.card-text-title {
  font-weight: bold;
  font-size: 14px;
}
.card-text-title.open {
  margin-bottom: 15px;
  font-size: 20px;
}

.card-text-description {
  font-size: 14px;
  white-space: pre-line;
}

.timeline-container {
  margin-bottom: 20px;
}

.project-bottom-container {
  left: 0;
  right: 0;
  position: absolute;
  bottom: 20px;
  padding: 20px 20px 0px 20px;
}
.github-icon {
  width: 45px;
  display: inline-block;
}

.card-text-github {
  display: inline-block;
  margin-left: 10px;
}

.close-icon {
  margin: 20px;
  width: 15px;
  height: 15px;
}
