.card-container {
  width: 100%;
  height: auto;
  border-radius: 15px;
  overflow: hidden;
}

.card-container.open {
  bottom: 0;
  left: 0;
  right: 0;
  height: 80%;
  position: fixed;
  z-index: 1;
  overflow: hidden;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  box-shadow: -1px -4px 31px 0px rgba(0, 0, 0, 1);
  -webkit-box-shadow: -1px -4px 31px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: -1px -4px 31px 0px rgba(0, 0, 0, 1);
}
.card-content {
  position: relative;
  width: 100%;
  height: 100%;
}

.card-img {
  width: 100%;
}

.card-text {
  height: 100%;
  padding: 10px;
  background-color: white;
}
.card-text.open {
  padding: 20px;
}
